extends sidebar 

block content-head 
    title Music Dashboard

block content-body
    main
      section#main_cont
        #discover
          #discover_banner
            img(src="/assets/images/headset_background.jpg", alt="")
          h1#popular Popular songs
          #latest_music_flex
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(0)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(1)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(2)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(3)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(4)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(5)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(6)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(7)")
            .latest_boxes
              img(src="", alt="", class="discover_image")
              .discover_belowphoto
                p.Dmatter
                marquee
                  h5.genre
                i(class='bx bx-play-circle', onclick="fun(8)")
      include footer 