footer
  .footer-container
    .footer-column
      h3 Quick Links
      ul
        li: a(href="/") Home
        li: a(href="/aboutus") About Us
        li: a(href="/services") Services
        li: a(href="/contact") Contact
    .footer-column
      h3 Follow Us
      .social-icons
        a(href="#"): i.fab.fa-facebook
        a(href="#"): i.fab.fa-twitter
        a(href="#"): i.fab.fa-instagram
  .copyright
    p &copy; 2024 Krishna Vamsi. All rights reserved.
