doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Online Music Streaming
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
    link(rel="stylesheet", href="./assets/CSS/style.css")
    link(rel="stylesheet", href="./assets/CSS/header.css")
  body#body
    header#header
      nav#nav
        h1#nav_heading THINK'S
        #links
          a(href="/") Home
          a(href="./signin.html") Sign In
          a(href="./signup.html") Sign Up
          a(href="#") Contact Us

    main#main
      #mainname_layout
        span.mainname Enjoy
        span.mainname The
        span.mainname music

    footer#footer
      #footer-layout
        #footer-left
          h1#quick Quick Links
          a.footer_left_links(href="./signin.html") Login
          a.footer_left_links(href="./signup.html") Register
        p#copyright &copy; CopyRight 2024 Krishna Vamsi. All Rights Reserved
        #footer-links
          a#work-mail(href="mailto:ffacc0999@gmail.com")
            i.bxl-gmail
          a#work-linkdin(href="https://www.linkedin.com/in/")
            i.bxl-linkedin-square
          a#footer-insta(href="#")
            i.bxl-instagram
          a#footer-what(href="https://wa.me/+916309823231")
            i.bxl-whatsapp
