doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Invalid Username
    link(rel="stylesheet" href="/assets/css/invalidCredentails.css") 
  body
    #box
      h1 #{Invalid}
      button(onclick="window.location.href='/signin.html'") Go to Sign In
