body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f8f9fa;
  }
  #box
  {
    width: 30%;
    height: 200px;
    border: 2px solid red;
    box-shadow: 0 0 10px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  button 
  {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 0 0 5px red;
    border-radius: 50% 5%;
  }
button:hover 
{
    padding: 15px 25px;
}